<div class="flex justify-content-around align-items-center h-4rem">
  <div class="flex">
    <form (ngSubmit)="onSubmit()">
      <span class="p-input-icon-left p-float-label shadow-2 mr-2">
        <i class="pi pi-search"></i>
        <input
          [disabled]="!paginatedSubscribers.length"
          type="text"
          id="search"
          pInputText
          name="searchField"
          class="p-inputtext-sm"
          [(ngModel)]="searchField"
        />
        <label for="search">Search</label>
      </span>
      <p-button
        type="submit"
        size="small"
        class="mr-2"
        [disabled]="!paginatedSubscribers.length || !searchField"
        >Search</p-button
      >
    </form>
    <p-button (click)="fetchSubscribers()" size="small"
      >Get Subscribers</p-button
    >
  </div>
  <p-button
    [icon]="theme === 'light' ? 'pi pi-moon' : 'pi pi-sun'"
    size="large"
    [rounded]="true"
    (click)="onThemeChange(theme === 'light' ? 'dark' : 'light')"
  ></p-button>
</div>

<div
  *ngIf="subscribers.length >= 1"
  class="flex flex-wrap justify-content-center w-full gap-4"
>
  <p-paginator
    class="w-full"
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="subscribers.length"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
  ></p-paginator>
  <!-- <app-subscribers
    *ngFor="
      let subscriber of filteredSubscribers.length
        ? filteredSubscribers
        : subscribers
    "
    [subscriber]="subscriber"
  ></app-subscribers> -->
  <app-subscribers
    *ngFor="let subscriber of paginatedSubscribers"
    [subscriber]="subscriber"
  ></app-subscribers>
</div>
