<div class="my-4">
  <span class="p-input-icon-left p-float-label shadow-2 mr-2">
    <i class="pi pi-search"></i>
    <input
      type="text"
      id="search"
      pInputText
      class="p-inputtext-sm"
      [(ngModel)]="value"
    />
    <label for="search">Search</label>
  </span>
  <p-button (click)="fetchPosts()" size="small">Get Subscribers</p-button>
</div>

<div *ngIf="subscribers" class="flex flex-wrap w-fit gap-4">
  <p-paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
  <app-post
    *ngFor="let subscriber of subscribers"
    [subscriber]="subscriber"
  ></app-post>
</div>
